
.abcRioButtonBlue {
    background-color: #9747fe9c !important;
    border: none !important;
    color: #fff;
    height: 90%;
    width: 85% !important;
    margin: auto !important;
    max-width: 200px;
}

.appFrame {
    padding: 5px;
    height: 100%;
    padding-top: 30%;
}

.appFrame.landscape {
    padding-top: 5%;
    width: 50%;
    margin: auto;
    width: 500;
}

a .button.tab-link-active .nonLogin {
    color: rgb(63, 4, 173);;
    background-color: rgb(63, 4, 173);
}

.emailRow {
    text-align: center;
}

.ios .segmented .button:disabled {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
    border-left-style: solid;
}

.ios .button.tab-link {
    color: white;
    border: rgb(80, 79, 79) solid 1px;
}

.ios button {
    border: 1px solid #4c4c4c;
}

.ios .subnavbar:after {
    background-color: transparent;
}

.button.tab-link-active {
    background-color: rgb(63, 4, 173);;
}


#block-name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif !important;
}
.card {
    background: rgba(255,255,255,.15) !important;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    width: 80% !important;
    max-width: 750px !important;
    margin: auto !important;
}

.card-header, 
.card-content,
.card-footer {
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    text-align: center !important;
}

.center-cell {
    text-align: center;
    font-size: 20px;
}

.data-table {
    overflow-x: unset;
}

.f7-icons {
    float: right;
    margin-right: 14px;
    margin-top: 10px;
    color:red
}

#headlogo {
    width: 45%;
    max-width: 200px;
    margin-top: 5px;
}

#IMDBUrl {
    font-size: 80%;
    text-align: center;
}

.ios .button.tab-link-active{
    background-color: rgb(60, 27, 83);
    color: white;
}

.ios .segmented .button:disabled {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
    border-left-style: solid;
}

.ios .button.tab-link {
    color: white;
    border: rgb(80, 79, 79) solid 1px;
}

.ios .block-strong {
    background: unset;
}

.ios .subnavbar-inner {
    background-color: rgb(33, 150, 243)
}

.ios button {
    border: 1px solid #4c4c4c;
}

.ios .subnavbar:after {
    background-color: transparent;
}

.links line {
    stroke: #fff;
    stroke-opacity: 0.6;
}

#mainLogo{
    width: 100%;
}

.md .card {
    margin: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.md .card-footer {
    margin-bottom: 20px;
}

.md .button.tab-link-active {
   background-color: rgb(60, 27, 83);
}

.modalBtn {
    margin-top: 5%;
}

#modalText {
    padding-bottom: 3%;
}

#my-form {
    margin: unset;
}

#my-signin2 {
    width: 100%;
}

.navbar, .md .navbar, .ios .navbar {
    background: #131313ba;
}

#navTitle {
    text-align: center;
}
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;

}

.page-content {
    background: linear-gradient(45deg,#21d4fd, #b721ff);
}

#profile-pic {
    padding-top: 10px;
}

.md.device-desktop .data-table tbody tr:hover {
    background: unset; /* #8a2be247; */
}

.profileCard,
.networkCard {
    background: rgba(255,255,255,.15) !important;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    width: 98% !important;
    max-width: 750px !important;
    margin: auto !important;
}

.segmented .button:focus {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
    border-left-style: solid;
}

#roleCell {
    padding-top: 5%;
    line-height: 250%;
}

.sheet-modal-inner .item-title.item-label {
    font-size: 90%;
    font-weight: bold;
    line-height: unset;
}

.title {
    width: 100%;
    text-align: center;
}

#userImg, #formImg {
    width: 40%;
}





