
.abcRioButtonBlue {
    background-color: #9747fe9c !important;
    border: none !important;
    color: #fff;
    height: 90%;
    width: 85% !important;
    margin: auto !important;
    max-width: 200px;
}

.appFrame {
    padding: 5px;
    height: 100%;
    padding-top: 30%;
}

.appFrame.landscape{
    padding-top: 5%
}

#block-name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.card {
    background: rgba(255,255,255,.15) !important;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    width: 80% !important;
    max-width: 750px !important;
    margin: auto !important;
}

.card-header, 
.card-content,
.card-footer {
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    text-align: center !important;
}

.center-cell {
    text-align: center;
    font-size: 20px;
}

.f7-icons {
    float: right;
    margin-right: 14px;
    margin-top: 10px;
    color:red
}

#IMDBUrl {
    font-size: 80%;
    text-align: center;
}

#logout-button {
    background-color: #7326b28f;
}

.md .card {
    margin: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.md .list .item-inner:after {
    content: none;
}

.modalBtn {
    margin-top: 5%;
}

#modalText {
    padding-bottom: 3%;
}

#my-form {
    margin: unset;
}

#my-signin2 {
    width: 100%;
}

.navbar, .md .navbar {
    background: #131313ba;
}

#navTitle {
    text-align: center;
}

.page-content {
    background: linear-gradient(45deg,#21d4fd, #b721ff);
}

#profile-pic {
    padding-top: 10px;
}

.sheet-modal-inner .item-title.item-label {
    font-size: 90%;
    font-weight: bold;
    line-height: unset;
}

.subnavbar, .md .subnavbar {
    background: #0000004d;
}

.title {
    width: 100%;
    text-align: center;
}

#userImg, #formImg {
    width: 40%;
}


